[package]
name = "async-io"
# When publishing a new version:
# - Update CHANGELOG.md
# - Create "v1.x.y" git tag
version = "1.8.0"
authors = ["Stjepan Glavina <stjepang@gmail.com>"]
edition = "2018"
rust-version = "1.46"
description = "Async I/O and timers"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/smol-rs/async-io"
keywords = ["mio", "epoll", "kqueue", "iocp", "wepoll"]
categories = ["asynchronous", "network-programming", "os"]
exclude = ["/.*"]

[dependencies]
cfg-if = "1"
concurrent-queue = "1.2.2"
futures-lite = "1.11.0"
log = "0.4.11"
once_cell = "1.4.1"
parking = "2.0.0"
polling = { git = "https://github.com/smol-rs/polling" }
slab = "0.4.2"
socket2 = { version = "0.4.2", features = ["all"] }
waker-fn = "1.1.0"

[target.'cfg(target_os = "linux")'.dependencies]
io-uring = { version = "=0.5.3", features = ["unstable"] }

[build-dependencies]
autocfg = "1"

[target."cfg(unix)".dependencies]
libc = "0.2.77"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winsock2"] }

[dev-dependencies]
async-channel = "1"
async-net = "1"
blocking = "1"
signal-hook = "0.3"
tempfile = "3"

[target.'cfg(target_os = "linux")'.dev-dependencies]
inotify = { version = "0.10", default-features = false }
nix = { version = "0.24", default-features = false }
timerfd = "1"

[target.'cfg(windows)'.dev-dependencies]
uds_windows = "1"
